<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GEOG 777 Project 1</title>

  <!-- STYLES -->

  <!-- My stylesheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <!-- Leaflet and Leaflet Sidebar CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
  <link rel="stylesheet" href="https://noerw.github.io/leaflet-sidebar-v2/css/leaflet-sidebar.min.css" />
  <link rel="stylesheet" href="https://noerw.github.io/leaflet-sidebar-v2/css/leaflet-sidebar.css" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />

  <!-- Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  
</head>

<!-- HTML PAGE -->

<body>

<!-- Title Bar -->
  <div class="app-title d-flex align-items-center justify-content-between">
    <span>Relating Cancer Rates to Nitrate Levels from Wells in Wisconsin</span>
  </div>

  <div id="sidebar" class="leaflet-sidebar collapsed">
      <!-- Nav tabs -->
      <div class="leaflet-sidebar-tabs">
          <ul role="tablist"> 
              <li><a href="#home" role="tab"><i class="fa fa-bars" id="home"><img src="static/css/hamburger.png" style="width:20px; height:20px;"></img></i></a></li>
          </ul>
      </div>

      <!-- Tab panes -->
      <div class="leaflet-sidebar-content">
          <div class="leaflet-sidebar-pane" id="home">
              <h1 class="leaflet-sidebar-header">
                  Information about the application
                  <div class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></div>
              </h1>
              <p class="description" style="margin-top: 2ch;">
                This application highlights the relationship between cancer rate and nitrate level for census tracts in Wisconsin.<br>
                This is accomplished using Inverse Distance Weighting (IDW), Zonal Statistics, and Generalized Linear Regression (GLR).<br>
                Users can input the Distance Decay Coefficient, which changes the analysis by decreasing the influence of distant points.<br>
                The higher the coefficient, the lower the influence.<br>  
                The most reasonable results will be obtained from a Distance Decay coefficient
                ranging from 1 - 3.

              </p>
              <br>
              <label for="coeff" class="description">Decay Distance Coefficient</label><br>
              <input
                type="text"
                id="coeff"
                name="coeff"
                size="25"
              />
              <br><br>
              <button onclick="submitCoeff()">Submit</button>

              <br><br><br>

              <h2>Results</h2>
              <p class="description" id="equation">
              </p>
          </div>
      </div>
  </div>

  <div id="map"></div>

  <!-- JAVASCRIPT -->

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <!-- Leaflet Sidebar JS -->
  <script src="https://unpkg.com/leaflet-sidebar-v2/js/leaflet-sidebar.min.js"></script>

  <!-- JS to display IDW tif file g-->
  <script src="https://unpkg.com/geotiff"></script>
  <script src="https://unpkg.com/georaster"></script>
  <script src="https://unpkg.com/georaster-layer-for-leaflet"></script>

  <!-- My JavaScript-->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>



</body>
</html>